.container.main-pages
  %header
    = image_tag "logo.png", class: "logo img-responsive"
  .col-md-6
    %h2 Give this quartet a few
    %p Gluten-free distillery fixie, selfies Austin church-key 3 wolf moon four dollar toast crucifix ennui pickled aesthetic Thundercats. Vinyl master cleanse +1 ennui. Polaroid kitsch quinoa Neutra. PBR meditation health goth Austin pug, lumbersexual taxidermy cronut crucifix butcher migas ugh. Occupy cray freegan readymade, flannel fingerstache YOLO tousled post-ironic
  %br/
  %br/
  .col-md-6
    .list-group
      %a.list-group-item.list-group-item-primary{:href => "#"} Игрок 1
      %a.list-group-item.list-group-item-primary{:href => "#"} Игрок 2
      %a.list-group-item.list-group-item-primary{:href => "#"} Игрок 3
      %a.list-group-item.list-group-item-primary{:href => "#"} Игрок 4
    %a.btn.btn-info.btn-block{"data-original-title" => "Tooltip on left", "data-placement" => "left", "data-toggle" => "tooltip", :title => ""} Начать игру
    %br/
    %span.btn.btn-warning.btn-block
      Номер комнаты:
      %span