%h1 Pisyai

= form_tag pages_login_or_create_room_path, remote: true do
  = text_field_tag :username, '', placeholder: 'your name', require: true
  %br
  = text_field_tag :room, '', placeholder: 'room code'
  оставьте пустым если кода комнаты у вас нет
  %br
  = submit_tag 'run'

